resume = true

process {
  errorStrategy = 'finish'
}

profiles {
  slurm {
    process {
      executor = 'slurm'
      module = 'singularity'

      withLabel: gpu    { clusterOptions = '--gres=gpu:1' }
      withLabel: guppy  { module = 'guppy' }
    }
  }

  singularity {
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  docker {
    docker {
      enabled = true
    }
  }
}

// containers
process {
  withLabel: artic      { container = 'catgumag/artic-ncov2019:1.2.1' }
  withLabel: fastqc     { container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' }
  withLabel: multiqc    { container = 'quay.io/biocontainers/multiqc:1.10.1--pyhdfd78af_1' }
  withLabel: nextclade  { container = 'catgumag/nextclade:1.2.0' }
  withLabel: python     { container = 'catgumag/pandas-scibioxl:1.2.4' }
  withLabel: pangolin   { container = 'quay.io/biocontainers/pangolin:3.1.5--pyhdfd78af_0' }
  withLabel: samtools   { container = 'quay.io/biocontainers/samtools:1.12--h9aed4be_1' }
  withLabel: snpeff     { container = 'quay.io/biocontainers/snpeff:5.0--hdfd78af_1' }
}
