resume = true

process {
  errorStrategy = 'finish'
}

profiles {
  slurm {
    process {
      executor = 'slurm'
      module = 'singularity'

      withLabel: gpu    { clusterOptions = '--gres=gpu:1' }
      withLabel: guppy  { module = 'guppy' }
    }
  }

  singularity {
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  docker {
    docker {
      enabled = true
    }
  }
}

// containers
process {
  withLabel: artic      { container = 'ghcr.io/catg-umag/ncov2019-ont-nf/artic-ncov2019:1.2.1' }
  withLabel: fastqc     { container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' }
  withLabel: multiqc    { container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0' }
  withLabel: nextclade  { container = 'nextstrain/nextclade:1.10.3' }
  withLabel: python     { container = 'ghcr.io/catg-umag/ncov2019-ont-nf/pandas-scibioxl:20220203' }
  withLabel: pangolin   { container = 'quay.io/biocontainers/pangolin:3.1.20--pyhdfd78af_0' }
  withLabel: samtools   { container = 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
  withLabel: snpeff     { container = 'quay.io/biocontainers/snpeff:5.0--hdfd78af_1' }
}
