process {
  errorStrategy = 'finish'
}

singularity {
  enabled = true
  autoMounts = true
}

profiles {
  slurm {
    process {
      executor = 'slurm'
      module = 'singularity'
    }
  }
}

// containers and modules
process {
  withLabel: gpu        { clusterOptions = '--gres=gpu:2' }
  withLabel: guppy      { module = 'guppy/4.5.2' }
  withLabel: artic      { container = 'quay.io/biocontainers/artic:1.2.1--py_0' }
  withLabel: samtools   { container = 'quay.io/biocontainers/samtools:1.12--h9aed4be_1' }
}
